'.text.html.vue':
  'Vue element mu-appbar':
    'prefix': 'mabar',
    'body': """
    <mu-appbar title=""/>
    """  
  'Vue element mu-avatar':
    'prefix': 'mavatar',
    'body': """
    <mu-avatar src="" icon="" />
    """