'.text.html.vue':
  'Vue element mu-appbar':
    'prefix': 'mappbar',
    'body': """
    <mu-appbar title="$1"/>
    """  
  'Vue element mu-avatar':
    'prefix': 'mavatar',
    'body': """
    <mu-avatar src="$1" icon="$2" />
    """